<div class="Container ">
<div class='Form'>
  <%= form_tag( '/resultado' , remote: true) do |f| %>
    
    <label for="operacao">Selecione a operação:</label>
    <%= select_tag 'operacao', options_for_select([['Soma', '+'], ['Subtração', '-'], ['Multiplicação', 'x'], ['Divisão', '÷']]), class: 'operador' %><br>
    
    <%= label_tag :nm1, "Número 1:", class: 'nm1' %>
    <%= text_field_tag :nm1 %><br>

    <%= label_tag :nm2, "Número 2:", class: 'nm2' %>
    <%= text_field_tag :nm2%><br>
    <%= submit_tag 'Calcular', class: 'calcular' %>

  <% end %>
  
</div>

<div class="Form-2">
  <%= form_tag( '/palavras', remote: true) do  %>
      
      <%= label_tag :work, "Digite a palavra: "%>
      <%= text_field_tag :work %>

      <%= label_tag :qnt, "Quantidade: "%>
      <%= text_field_tag :qnt %>

      <%= submit_tag "Enviar" %>
  <% end %>
</div>

<div class="Form-3">
 <%= form_tag('/check_answer', method: 'post') do %>
  <p>
    <%= $num1 %> + <%= $num2  %> =
    <%= text_field_tag :tentativa %>
  </p>
  <%= submit_tag 'Verificar' %>

<% end %>

</div>

</div>