<div class="content">
    <h2 class="resultado">O Resultado de <%= @numero1 %> <%= @operador %> <%= @numero2 %>: <%= @resultado %></h2>
    <%= link_to "Voltar", './', class: 'link-voltar' %>
    
</div>