<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
  <header class="Index-Header"> <h1>Funcionalidades Legais </header>

  <nav>
    <%= link_to "Instagram", "https://www.instagram.com/o_tal_do_tsuki/", class: 'social-media_1', target: '_blank'  %>
    <%= link_to "GitHub", "https://github.com/TsukiKtk?tab=repositories", class: 'social-media_2', target: '_blank'  %>
    <%= link_to "Twitch", "https://www.twitch.tv/otaldotsuki", class: 'social-media_3', target: '_blank'  %>
    <%= link_to "WhatsApp", "https://wa.me/#{@numero_whatsapp}", class: 'social-meida_4', target: '_blank'  %>
    <%= link_to "E-mail", "mailto:gabikochem55@gmail.com", class: 'social-meida_5', target: '_blank' %>
    <%= link_to "Sobre", 'sobre', class: 'about' %> 
    

  </nav>
    <%= yield %>

  <footer>
    <p>&copy; 2024 Página Pessoal de: <%= @meu_nome %></p>
  </footer>

  </body>
</html>
